* {
    transition: all 1s;
}

body {
    padding: 10px;
    background-color: lightseagreen;
}

section {
    display: flex;
    flex-direction: row;
}

img {
    width: 80px;
}

#cart {
    background-color: salmon;
}

#cart,
#items {
    width: 50vw;
}